/* NAO MEXER NESSE, E SE MEXER AVISAR TODOS */
/* NAO MEXER NESSE, E SE MEXER AVISAR TODOS */
/* NAO MEXER NESSE, E SE MEXER AVISAR TODOS */

body {
    background-color: #E4FAFE;


    background: url(../Imagens/63286a32-a4e1-4c93-a588-313bdde19b55.jfif);

}

@font-face {
    font-family: 'Calibri';
    src: url(../Fontes/calibri.ttf) format(truetype);
}