* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(250, 245, 245);
}

#container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1, h3 {
    margin: 35px 0;
}

#btnObterDados{
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: chocolate;
    color: white;
    font-size: 17px;
    text-shadow: 1px 2px 2px rgb(131, 16, 9);
    cursor: pointer;
}

#div-erro{
    background-color: firebrick;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: none;
}

.area-grafico{
    height: 450px;
    margin-bottom: 50px;
    
}