body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    
    background-color: antiquewhite;
}

h1{
    text-align: center;
}

#div1{
    background-color: aquamarine;
}

.caixaflexbox{
    display: flex;
    justify-content: center;
}

.caixa{
    background-color: rgb(181, 126, 55);
    width: 200px;
    text-align: center;
    height: 130px;
    margin: 30px 50px;
    padding: 10px;

}

#exemplo1{
    border-radius: 30px;
}

#exemplo2{
    border-radius: 15px 30px;
}

#exemplo3{
    border-radius: 15px 50px 30px 5px;
}

#exemplo4{
    border-top-left-radius: 10px 35px;
    border-bottom-left-radius: 50px 30px;
}

p{
    text-align: center;
}

#sombra1{
    text-shadow: 2px 2px;
}

#sombra2{
    text-shadow: 2px 2px crimson;
}

#sombra3{
    text-shadow: 2px 2px 6px rgb(39, 129, 67);
}

#sombra4{
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    color: white;
}

#sombra5{
    text-shadow: 0 0 6px rgb(255, 0, 0);
}

#sombra5{
    text-shadow: 0 0 6px rgb(255, 0, 0);
}

#sombra5{
    text-shadow: 10px 10px 6px rgb(255, 0, 0),  20px 20px 6px blue;
}

#sombra7{
    color: white;
    text-shadow: 2px 2px 5px black, 0 0 20px blue, 0 0 15px darkblue;
}

#sombra8{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black ;
}

#sombracaixa1{
    box-shadow: 10px 10px rgb(115, 180, 49);
}

#sombracaixa2{
    box-shadow: 10px 10px 5px rgb(115, 180, 49);
}

#sombracaixa3{
    box-shadow: 10px 10px 5px green inset;
}

#sombracaixa4{
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}

.retangulo{
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

#gradiente1{
    background-image: linear-gradient(green, yellow);
}

#gradiente2{
    background-image: linear-gradient(to right, green, yellow);
}

#gradiente3{
    background-image: linear-gradient(to bottom right, green, yellow);
}

#gradiente4{
    background-image: linear-gradient(green, yellow, red);
}

#gradiente5{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#gradiente10{
    background-image: radial-gradient(green, yellow, red);
}

#gradiente11{
    background-image: radial-gradient(green 33%, yellow 20%, red 47%);
}

#gradiente12{
    height: 350px;
    background-image: radial-gradient(circle, green, yellow, red);
}

#coni1{
    background-image: conic-gradient(red, black);
}

#coni2{
    background-image: conic-gradient(red, yellow, green);
    border-radius: 0%;
    width: 400px;
    height: 200px;
}

#coni2{
    background-image: conic-gradient(red 0deg 70deg, yellow 70deg 270deg, green 270deg 360deg);
    border-radius: 0%;
    width: 400px;
    height: 200px;
}

/* EFEITO AULA 2 */


#caixa1:hover{
    background-color: yellow;
    transform: translate(50px, 100px) ;
}

#caixa2:hover{
    background-color: yellow;
    transform: rotate(35deg) ;
}

#caixa3:hover{
    background-color: yellow;
    transform: scale(2, 3);
}

#caixa4:hover{
    background-color: yellow;
    transform: scale(0.5, 0.5) ;
}

#caixa5:hover{
    background-color: yellow;
    transform: skewY(30deg) ;
}

#caixa6:hover{
    background-color: yellow;
    transform: skewX(30deg) ;
}

#caixa7:hover{
    background-color: yellow;
    transform: skew(15deg, 405deg) ;
}

#caixa8:hover{
    background-color: yellow;
    transform: matrix( 1, -.5, 2, 1, 1.5, 0.5) ;
}

#caixa9:hover{
    background-color: yellow;
    transform: rotateX(45deg);
}

#caixa10:hover{
    background-color: yellow;
    transform: rotateY(45deg);
}

#caixa11:hover{
    background-color: yellow;
    transform: rotateZ(45deg);
}